<div class="container-xl px-4 mt-5">
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="col-xl-4">
      <!-- Profile picture card -->
      <div class="card mb-4 mb-xl-0">
        <div class="card-header">Profile Picture</div>
        <div class="card-body text-center">
          <!-- Profile picture image -->
          <img class="img-account-profile  mb-1" [src]="profilePicture" alt="Profile Picture" style="border-radius: 10px" width="280px">
          <!-- Profile picture help block -->
          <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
          <!-- Profile picture upload button -->
          <div class="custom-file">
            <label class="btn btn-primary mt-2">
              Choose File
              <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none;">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8">
      <!-- Account details card -->
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form (ngSubmit)="saveChanges()">
            <!-- Form Group (first name) -->
            <div class="mb-3">
              <label class="small mb-1" for="inputFirstName">First name</label>
              <input class="form-control" id="inputFirstName" type="text" placeholder="Enter your first name" [(ngModel)]="user.firstName" name="firstName">
            </div>
            <!-- Form Group (last name) -->
            <div class="mb-3">
              <label class="small mb-1" for="inputLastName">Last name</label>
              <input class="form-control" id="inputLastName" type="text" placeholder="Enter your last name" [(ngModel)]="user.lastName" name="lastName">
            </div>
            <!-- Form Group (location) -->
            <div class="mb-3">
              <label class="small mb-1" for="inputLocation">Location</label>
              <input class="form-control" id="inputLocation" type="text" placeholder="Enter your location" [(ngModel)]="user.address" name="location">
            </div>
            <!-- Form Group (email address) -->
            <div class="mb-3">
              <label class="small mb-1" for="inputEmailAddress">Email address</label>
              <input class="form-control" id="inputEmailAddress" type="email" placeholder="Enter your email address" [(ngModel)]="user.email" name="email">
            </div>
            <!-- Form Group (phone number) -->
            <div class="mb-3">
              <label class="small mb-1" for="inputPhone">Phone number</label>
              <input class="form-control" id="inputPhone" type="tel" placeholder="Enter your phone number" [(ngModel)]="user.phone" name="phone">
            </div>
            <!-- Form Group (password) -->
            <div class="mb-3">
              <label class="small mb-1" for="password">Password</label>
              <input class="form-control" id="password" type="text" placeholder="Enter your password" [(ngModel)]="user.password" name="password">
            </div>
            <!-- Save changes button -->
            <button class="btn btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

